if SHIELD_SCOTTOCHOCZARD_LEFT

config ZMK_KEYBOARD_NAME
    default "arrow"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_ARROW_LEFT || SHIELD_ARROW_RIGHT

config ZMK_SPLIT
    default y

endif
